*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("pic/bg.avif");
    background-repeat: no-repeat;
    background-size:cover;
}


.main{
    width: 1000px;
    padding-top: 15px;
    margin: 0 auto;
    padding-bottom:20px;
    

}

div .navbar{
   background-color:black;
}
.navbar{
    width:100%;
    display:flex;
    margin:auto;
    padding:15px 0;
    align-items: center;
    justify-content: space-between;
    position:relative;
    z-index: 1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .logo{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-left:7%;
}

.image .me {
    width: 250px;
    display: block;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 30px;
   
}

.info {
    margin: 0 100px;
    padding:30px;
    height: 100%;
}
h2 {
    text-align: center;
    color:gold;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
h3 {
    color:silver;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    }
.icons{
    display: flex;
    justify-content: center;
    background-color: black;
    height: 50px;;
}
.icons a{
    text-decoration: none;
    padding: 20px 20px;
    height: 20px;
}

@media screen and (max-width: 600px) {
    .main {
        width: 90%;
        padding: 15px;
    }
    
    .image .me{
        width: 45%;
        margin:0 auto;
    }
    .info {
        margin: 0 10px;
    }

    .icons a {
        padding: 10px;
    }
}
